---
layout: default
title: 문서
permalink: /docs
---

<div id="docs-layout">
    <h1>작성 글</h1>
    {% for post in site.posts %}
    <section id="docs-box">
        <a href="{{ post.url }}">
            <div>
                <h2>{{ post.title }}</h2>
                <h3>{{ post.date | date:"%F" }}</h3>
                <p>
                    {% if post.desc != null and post.desc == "" %}
                        {{ post.desc }}
                    {% else %}
                        {{ post.tags }}
                    {% endif %}
                </p>
            </div>
        </a>
    </section>
    {% endfor %}
</div>