<footer class="footer">
    <section id="footer-start">
        <div>
            <p class="footer-hello">
                {{ include.hello }}
            </p>
        </div>
        <div class="footer-icon-box">
            <a class="footer-icon-link" href="/feed.xml">
                <object aria-label="icon" class="footer-icon" id="footer-rss-icon" data="/assets/images/external/rss.svg"
                        type="image/svg+xml"></object>
                RSS 구독
            </a>
            <a class="footer-icon-link" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
                <object aria-label="icon" class="footer-icon" id="footer-github-icon" data="/assets/images/external/github.svg"
                        type="image/svg+xml"></object>
                Github
            </a>
        </div>
    </section>
    <section id="footer-end">
        {% case include.iconType %}
            {% when "blog" %}
                <img src="/assets/images/blog/icon.png" alt="icon" id="footer-main-icon"/>
            {% else %}
                <object aria-label="icon" data="/assets/images/icon.svg" id="footer-main-icon"
                        type="image/svg+xml"></object>
        {% endcase %}
    </section>
</footer>