<header class="header">
    <div>
        <a class="header-logo" href="{{ '/' | relative_url }}">
            <div class="header-logo-box">
                이승윤
            </div>
        </a>
    </div>
    <div>
        <ul id="header-navigation" class="header-navigation">
            {% for item in site.data.navigation %}
            <li class="header-tab-box {% if page.url == item.link %} header-current-tab-box{% endif %}">
                <a href="{{ item.link }}" class="header-link header-tab{% if page.url == item.link %} header-current-tab{% endif %}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <button type="button" id="header-navigation-button" class="header-navigation-button">
            <svg class="header-navigation-button-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
        </button>
    </div>
</header>

<!-- Mobile navigation button click -->
<script>
    const nav = document.getElementById("header-navigation")
    const navButton = document.getElementById("header-navigation-button")

    navButton.addEventListener('click', event => {
        if (nav.style.visibility == "hidden")
            nav.style.visibility = "visible"
        else
            nav.style.visibility = "hidden"
    });
</script>