<header class="header">
    <div>
        <a class="header-logo" href="{{ '/' | relative_url }}">
            <div class="header-logo-box">
                이승윤
            </div>
        </a>
    </div>
    <div>
        <ul class="header-navigation">
            {% for item in site.data.navigation %}
            <li class="header-tab-box {% if page.url == item.link %} header-current-tab-box{% endif %}">
                <a href="{{ item.link }}" class="header-link header-tab{% if page.url == item.link %} header-current-tab{% endif %}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</header>