:root {
  --background-color: #1e242a;
  --background-font-color: #ff5c5c;
  --footer-height: 160px;
  --header-height: 64px;
  --contents-horizontal-padding: 16px;
  --background-invalid-font-color: #ffd3d3;
}

#blog-title-section {
  align-items: center;

  #blog-title-background {
    background-image: url("/assets/images/blog/title_banner.jpeg");
    background-position: center;
    background-size: cover;
    margin: 24px auto 40px;
    padding: 16px;

    #blog-title-text {
      color: white;
      font-size: 2em;
      font-weight: lighter;
      letter-spacing: 0.1em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      text-align: center;
    }
  }
}
#blog-contents-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  .blog-contents {
    height: auto;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;

    .blog-contents-title {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 8px;
    }
    .blog-contents-desc {
      font-size: 1.2em;
      margin-top: 0;
      margin-bottom: 16px;
    }
    .blog-contents-date {
      font-size: 0.9em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
