@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

:root {
  --background-color: #2e2e30;
  --background-font-color: white;
  --background-invalid-font-color: grey;
  --footer-height: 160px;
  --header-height: 64px;
  --contents-horizontal-padding: 16px;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: medium;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: 100%;
  position: relative;
  font-size: medium;
  font-kerning: normal;
  display: block;
}

a {
  text-decoration: none;
  color: var(--background-color);
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  position: relative;
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 100%;
}

.main-content > div {
  padding-left: var(--contents-horizontal-padding);
  padding-right: var(--contents-horizontal-padding);
}

.center-layout {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex-grow: 1;
}

// header
.header {
  width: 100%;
  height: var(--header-height);
  z-index: 900;
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  padding: 0 10%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 20%);
  color: var(--background-font-color);
}

.header-navigation {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-navigation-button {
  height: 100%;
  z-index: 5;
  display: none;
  background: transparent;
  border-width: 0;
  align-items: center;
}

.header-navigation-button-icon {
  color: var(--background-font-color);
}

.header-logo-box {
  color: var(--background-font-color);;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: 'Gowun Dodum', sans-serif;
}

.header-tab-box {
  align-items: center;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  list-style: none;
  margin-left: 32px;
  min-width: 24px;
}

.header-current-tab-box {
  border-color: var(--background-font-color);
}

// header tab - default
.header-tab {
  align-items: center;
  color: var(--background-invalid-font-color);
  display: flex;
  font-size: medium;
  font-weight: 400;
  min-height: 100%;
  padding: 0 4px 0 4px;
}

.header-tab:hover {
  color: var(--background-font-color);
}

// header tab - selected
.header-current-tab {
  color: var(--background-font-color);
}

// footer
.footer {
  padding: 16px 10% 32px 10%;
  width: 100%;
  height: var(--footer-height);
  background: var(--background-color);
  color: var(--background-font-color);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  @include relative-font-size(1);
}

.footer-hello {
  min-height: 42px;
}

.footer-icon-box {
  font-size: 1em;
  color: white;
}

.footer-icon {
  width: 16px;
  height: 16px;
  color: var(--background-font-color);
  display:inline-block;
  vertical-align:text-bottom;
  overflow:visible
}

#footer-res-icon {
  width: 16px;
  height: 16px;
}

#footer-github-icon {
  width: 24px;
  height: 24px;
}

.footer-icon-link {
  color: var(--background-font-color);
  margin-right: 16px;
}

#footer-main-icon {
  margin-block-start: 1em;
  width: 60px;
  height: 60px;
}

// Responsive Web Design
@media screen and (max-width: 640px) {
  :root {
    --footer-height: 140px;
    --header-height: 48px;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-navigation {
    visibility: hidden;
    width: 100%;
    height: auto;
    margin-top: var(--header-height);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background-color);
  }

  .header-navigation-button {
    display: inline-flex;
  }

  .header-tab-box {
    margin-left: 0;
    padding-left: 16px;
    border-left: 4px solid transparent;
    border-bottom: 0;
    height: var(--header-height);
  }

  .header-current-tab-box {
    border-color: var(--background-font-color);
  }

  .header-logo-box {
    font-size: 24px;
  }

  .footer {
    padding: 16px;
  }

  .footer p {
    margin-block-start: 0;
    font-size: 0.9em;
  }

  #footer-main-icon {
    margin-block-start: 0;
    width: 40px;
    height: 40px;
  }
}