@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

// header
.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 0 10%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 20%);
  color: white;
}

.header-navigation {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-logo-box {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: x-large;
  font-family: 'Gowun Dodum', sans-serif;
}

.header-tab-box {
  height: 100%;
  cursor: pointer;
  list-style: none;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  align-items: center;
  margin-left: 32px;
}

.header-current-tab-box {
  border-bottom-color: white;
}

// header tab - default
.header-tab {
  min-height: 100%;
  display: flex;
  color: grey;
  align-items: center;
  font-size: large;
}

.header-tab:hover {
  color: white;
}

// header tab - selected
.header-current-tab {
  color: white;
}

// footer
.icon-box {
  font-size: 24px;
}