@font-face {
  font-family: 'Gowun Dodum';
  src: url('/assets/fonts/GowunDodum-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic Coding';
  src: url('/assets/fonts/NanumGothicCoding-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/NotoSansKR-VariableFont_wght.ttf');
  font-display: swap;
}

.light {
  --md-sys-color-primary: rgb(33 106 77);
  --md-sys-color-surface-tint: rgb(33 106 77);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(169 242 205);
  --md-sys-color-on-primary-container: rgb(0 81 55);
  --md-sys-color-secondary: rgb(77 99 87);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(207 233 217);
  --md-sys-color-on-secondary-container: rgb(54 75 64);
  --md-sys-color-tertiary: rgb(61 99 115);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(193 233 251);
  --md-sys-color-on-tertiary-container: rgb(36 76 91);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 245);
  --md-sys-color-on-background: rgb(23 29 25);
  --md-sys-color-surface: rgb(245 251 245);
  --md-sys-color-on-surface: rgb(23 29 25);
  --md-sys-color-surface-variant: rgb(220 229 221);
  --md-sys-color-on-surface-variant: rgb(64 73 67);
  --md-sys-color-outline: rgb(112 121 115);
  --md-sys-color-outline-variant: rgb(191 201 193);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(237 242 236);
  --md-sys-color-inverse-primary: rgb(141 213 178);
  --md-sys-color-primary-fixed: rgb(169 242 205);
  --md-sys-color-on-primary-fixed: rgb(0 33 20);
  --md-sys-color-primary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 55);
  --md-sys-color-secondary-fixed: rgb(207 233 217);
  --md-sys-color-on-secondary-fixed: rgb(10 31 22);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 189);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 75 64);
  --md-sys-color-tertiary-fixed: rgb(193 233 251);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 41);
  --md-sys-color-tertiary-fixed-dim: rgb(165 204 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(36 76 91);
  --md-sys-color-surface-dim: rgb(214 219 214);
  --md-sys-color-surface-bright: rgb(245 251 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 239);
  --md-sys-color-surface-container: rgb(234 239 233);
  --md-sys-color-surface-container-high: rgb(228 234 228);
  --md-sys-color-surface-container-highest: rgb(222 228 222);
}

.dark {
  --md-sys-color-primary: rgb(141 213 178);
  --md-sys-color-surface-tint: rgb(141 213 178);
  --md-sys-color-on-primary: rgb(0 56 37);
  --md-sys-color-primary-container: rgb(0 81 55);
  --md-sys-color-on-primary-container: rgb(169 242 205);
  --md-sys-color-secondary: rgb(180 204 189);
  --md-sys-color-on-secondary: rgb(31 53 42);
  --md-sys-color-secondary-container: rgb(54 75 64);
  --md-sys-color-on-secondary-container: rgb(207 233 217);
  --md-sys-color-tertiary: rgb(165 204 222);
  --md-sys-color-on-tertiary: rgb(7 53 67);
  --md-sys-color-tertiary-container: rgb(36 76 91);
  --md-sys-color-on-tertiary-container: rgb(193 233 251);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(222 228 222);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(191 201 193);
  --md-sys-color-outline: rgb(138 147 140);
  --md-sys-color-outline-variant: rgb(64 73 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(44 50 46);
  --md-sys-color-inverse-primary: rgb(33 106 77);
  --md-sys-color-primary-fixed: rgb(169 242 205);
  --md-sys-color-on-primary-fixed: rgb(0 33 20);
  --md-sys-color-primary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 55);
  --md-sys-color-secondary-fixed: rgb(207 233 217);
  --md-sys-color-on-secondary-fixed: rgb(10 31 22);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 189);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 75 64);
  --md-sys-color-tertiary-fixed: rgb(193 233 251);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 41);
  --md-sys-color-tertiary-fixed-dim: rgb(165 204 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(36 76 91);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(53 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 12);
  --md-sys-color-surface-container-low: rgb(23 29 25);
  --md-sys-color-surface-container: rgb(27 33 29);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 50);
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

:root {
  --footer-height: 160px;
  --header-height: 64px;
  --contents-horizontal-padding: 16px;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: medium;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: 100%;
  position: relative;
  font-size: medium;
  font-kerning: normal;
  display: block;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--md-sys-color-primary);
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  position: relative;
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 100%;
}

.main-content > div {
  padding-left: var(--contents-horizontal-padding);
  padding-right: var(--contents-horizontal-padding);
}

.center-layout {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex-grow: 1;
}

// header
.header {
  width: 100%;
  height: var(--header-height);
  z-index: 900;
  display: flex;
  justify-content: space-between;
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-variant);
  padding: 0 10%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 20%);
}

.header-navigation {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-navigation-button {
  height: 100%;
  z-index: 5;
  display: none;
  background: transparent;
  border-width: 0;
  align-items: center;
}

.header-navigation-button-icon {
  color: var(--md-sys-color-on-surface-variant);
}

.header-logo-box {
  color: var(--md-sys-color-on-surface-variant);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: 'Gowun Dodum', sans-serif;
}

.header-tab-box {
  align-items: center;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  list-style: none;
  margin-left: 32px;
  min-width: 24px;
}

.header-current-tab-box {
  border-color: var(--md-sys-color-on-secondary-container);
}

// header tab - default
.header-tab {
  align-items: center;
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  font-size: medium;
  font-weight: 400;
  min-height: 100%;
  padding: 0 4px 0 4px;
}

.header-tab:hover {
  color: var(--md-sys-color-on-surface);
}

// header tab - selected
.header-current-tab {
  color: var(--md-sys-color-secondary);
}

.header-tab-trailing-icon {
  fill: var(--md-sys-color-on-secondary-container);
  margin-left: 8px;
}

#header-theme-change-text {
  display: none;
}

.header-theme-icon {
  visibility: unset;
}

// footer
.footer {
  padding: 16px 10% 32px 10%;
  width: 100%;
  height: var(--footer-height);
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  @include relative-font-size(1);
}

.footer-hello {
  min-height: 42px;
}

.footer-icon-box {
  font-size: 1em;
}

.footer-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: visible
}

#footer-res-icon {
  width: 16px;
  height: 16px;
}

#footer-github-icon {
  width: 24px;
  height: 24px;
}

.footer-icon-link {
  color: var(--md-sys-color-on-surface-variant);
  margin-right: 16px;
}

#footer-main-icon {
  margin-block-start: 1em;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 710px) {
  // 로고 길 때 네비게이션 탭 메뉴 마진 조정
  .header-tab-box {
    margin-left: 18px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --footer-height: 140px;
    --header-height: 48px;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-navigation {
    visibility: hidden;
    width: 100%;
    height: auto;
    margin-top: var(--header-height);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--md-sys-color-surface-container);
  }

  .header-navigation-button {
    display: inline-flex;
  }

  .header-tab-box {
    margin-left: 0;
    padding-left: 16px;
    border-left: 4px solid transparent;
    border-bottom: 0;
    height: var(--header-height);
  }

  .header-current-tab-box {
    background: var(--md-sys-color-secondary-container);
    border-color: var(--md-sys-color-on-secondary-container);
  }

  .header-logo-box {
    font-size: 24px;
  }

  .header-tab-trailing-icon {
    visibility: inherit;
  }

  #header-theme-change-text {
    display: unset;
  }

  .footer {
    padding: 16px;
  }

  .footer p {
    margin-block-start: 0;
    font-size: 0.9em;
  }

  #footer-main-icon {
    margin-block-start: 0;
    width: 40px;
    height: 40px;
  }
}