:root {
  --post-article-max-width: 700px;
  --toc-width: 250px;
}

.post-layout {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.post-main {
  display: flex;
  height: 100%;
  min-height: 0;
}

#post-contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1
}

.post-article {
  width: 100%;
  max-width: var(--post-article-max-width);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  flex-grow: 1;
}

.post-sidebar {
  width: var(--toc-width);
  margin-right: 48px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  flex-grow: 0;
}

.post-article-sidebar-box {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 1000px) {
  .post-article {
    width: 100%;
    max-width: calc(var(--post-article-max-width) + 32px);
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .post-sidebar {
    width: 0;
    display: none;
  }
}

.post-header {
  text-align: left;
  font-size: 36px;
  padding-left: 16px;
  border-left: 8px solid var(--md-sys-color-primary);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  padding-bottom: 0.5em;
}

.post-header .post-title {
  margin: 0;
}

.post-header .post-date {
  margin: 0;
  font-size: 14px;
}

.post-category-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  margin-bottom: 8px;
}

.post-category-tag {
  padding: 8px;
  margin: 4px;
  border-radius: 30%;
  font-size: 14px;
}


// Table of contents

#post-toc {
  width: var(--toc-width);
  position: absolute;
  max-height: 500px;
  overflow: hidden;
}

.post-toc-list {
  padding-left: 0;
  list-style: none;
  background: var(--md-sys-color-surface-container-low);
}

.post-toc-node {
  border-left: 1px solid var(--md-sys-color-secondary);
  margin-left: 1px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.post-toc-item {
  display: block;
  color: var(--md-sys-color-on-surface-variant);
}

.post-toc-item-now {
  border-left: 3px solid var(--md-sys-color-primary);
  margin-left: 0;
  color: var(--md-sys-color-primary);
}

.post-toc-item-h1 {
  font-size: 1.2em;
}

.post-toc-item-h2 {
  font-size: 1em;
  padding-left: 0.5em;
}

.post-toc-item-h3 {
  font-size: 0.8em;
  padding-left: 1.5em;
}

// code highlight

@font-face {
  font-family: "KR Code";
  src: local("Nanum Gothic Coding");
  unicode-range: U+1100-11ff, U+3130-318F, U+3200-32FF, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF, U+FF00-FFEF;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

code {
  * {
    font-family: KR Code, JetBrains Mono, monospace;
  }

  font-family: KR Code, JetBrains Mono, monospace;
  line-height: 1.2;
  background-color: var(--md-sys-color-surface-container);
  padding: 4px 6px;
}

.highlight pre {
  padding: 16px;
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 8px;
  overflow: auto;

  code {
    padding: 0;
  }
}

.highlight .cm {
  color: var(--md-sys-color-on-surface-variant);
  font-style: italic;
}

.highlight .cp {
  color: var(--md-sys-color-on-surface-variant);
  font-weight: bold;
}

.highlight .c1 {
  color: var(--md-sys-color-on-surface-variant);
  font-style: italic;
}

.highlight .cs {
  color: var(--md-sys-color-on-surface-variant);
  font-weight: bold;
  font-style: italic;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: var(--md-sys-color-on-surface-variant);
  font-style: italic;
}

.highlight .err {
  color: var(--md-sys-color-on-error-container);
  background-color: var(--md-sys-color-error-container);
}

.highlight .gd {
  color: var(--md-sys-color-on-error-container);
  background-color: var(--md-sys-color-error-container);
}

.highlight .ge {
  color: var(--md-sys-color-on-surface);
  font-style: italic;
}

.highlight .gr {
  color: var(--md-sys-color-error);
}

.highlight .gh {
  color: var(--md-sys-color-on-surface-variant);
}

.highlight .gi {
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

.highlight .go {
  color: var(--md-sys-color-on-surface-variant);
}

.highlight .gp {
  color: var(--md-sys-color-on-surface-variant);
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: var(--md-sys-color-on-surface-variant);
}

.highlight .gt {
  color: var(--md-sys-color-error);
}

.highlight .kc {
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.highlight .kd {
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.highlight .kn {
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.highlight .kp {
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.highlight .kr {
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.highlight .kt {
  color: var(--md-sys-color-tertiary);
  font-weight: bold;
}

.highlight .k, .highlight .kv {
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.highlight .mf {
  color: var(--md-sys-color-secondary);
}

.highlight .mh {
  color: var(--md-sys-color-secondary);
}

.highlight .il {
  color: var(--md-sys-color-secondary);
}

.highlight .mi {
  color: var(--md-sys-color-secondary);
}

.highlight .mo {
  color: var(--md-sys-color-secondary);
}

.highlight .m, .highlight .mb, .highlight .mx {
  color: var(--md-sys-color-secondary);
}

.highlight .sa {
  color: var(--md-sys-color-on-surface);
  font-weight: bold;
}

.highlight .sb {
  color: var(--md-sys-color-tertiary);
}

.highlight .sc {
  color: var(--md-sys-color-tertiary);
}

.highlight .sd {
  color: var(--md-sys-color-tertiary);
}

.highlight .s2 {
  color: var(--md-sys-color-tertiary);
}

.highlight .se {
  color: var(--md-sys-color-tertiary);
}

.highlight .sh {
  color: var(--md-sys-color-tertiary);
}

.highlight .si {
  color: var(--md-sys-color-tertiary);
}

.highlight .sx {
  color: var(--md-sys-color-tertiary);
}

.highlight .sr {
  color: var(--md-sys-color-tertiary);
}

.highlight .s1 {
  color: var(--md-sys-color-tertiary);
}

.highlight .ss {
  color: var(--md-sys-color-tertiary);
}

.highlight .s, .highlight .dl {
  color: var(--md-sys-color-tertiary);
}

.highlight .na {
  color: var(--md-sys-color-secondary);
}

.highlight .bp {
  color: var(--md-sys-color-on-surface-variant);
}

.highlight .nb {
  color: var(--md-sys-color-tertiary);
}

.highlight .nc {
  color: var(--md-sys-color-tertiary);
  font-weight: bold;
}

.highlight .no {
  color: var(--md-sys-color-secondary);
}

.highlight .nd {
  color: var(--md-sys-color-secondary);
  font-weight: bold;
}

.highlight .ni {
  color: var(--md-sys-color-secondary);
}

.highlight .ne {
  color: var(--md-sys-color-secondary);
  font-weight: bold;
}

.highlight .nf, .highlight .fm {
  color: var(--md-sys-color-secondary);
  font-weight: bold;
}

.highlight .nl {
  color: var(--md-sys-color-secondary);
  font-weight: bold;
}

.highlight .nn {
  color: var(--md-sys-color-on-surface-variant);
}

.highlight .nt {
  color: var(--md-sys-color-tertiary);
}

.highlight .vc {
  color: var(--md-sys-color-secondary);
}

.highlight .vg {
  color: var(--md-sys-color-secondary);
}

.highlight .vi {
  color: var(--md-sys-color-secondary);
}

.highlight .nv, .highlight .vm {
  color: var(--md-sys-color-secondary);
}

.highlight .ow {
  color: var(--md-sys-color-on-surface);
  font-weight: bold;
}

.highlight .o {
  color: var(--md-sys-color-on-surface);
  font-weight: bold;
}

.highlight .w {
  color: var(--md-sys-color-outline);
}

.highlight {
  background-color: var(--md-sys-color-surface-container);
}

// post styling

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 0.8em;
}

blockquote {
  margin-left: 0;
  margin-right: 0;

  border-left: 4px solid var(--md-sys-color-primary);
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.1em;
  color: var(--md-sys-color-on-surface-variant);

  > :last-child {
    margin-bottom: 0;
  }
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color: var(--md-sys-color-surface-container);
    }
  }

  th, td {
    padding: 10px 15px;
  }

  th {
    border-bottom: 1px solid var(--md-sys-color-outline);
  }

  @media screen and (max-width: 1000px) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}