/**
 * 블로그 검색 화면 추가 스타일
 */

#search_box_outline {
  border: 1px solid;
  cursor: text;
  padding: 7px;
  z-index: 4;

}

#search_box {
  appearance: none;
  background: transparent;
  border: none;
  color: #19191c;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  outline: none;
  width: 100%;
}

#search_root {
  display: flex;
  flex-direction: column;
}

.margin-top-64 {
  margin-top: 64px;
}