---
layout: blog
title: 검색
permalink: /search
---

<script type="module" src="/assets/javascripts/search/views/search-view.js"></script>
<script type="module">
	import Post from '/assets/javascripts/search/models/post.js'
	import { posts } from '/assets/javascripts/search/views/search-view.js'

	let excerpt = ''
  {% for post in site.posts %}
	excerpt =
      {% if post.desc != null and post.desc != "" %} "{{ post.desc }}"
	  {% else %} `{{ post.excerpt | split: '<p>' | slice: 1, 1 | first | split: '</p>' | first | strip_html }}`
	  {% endif %}
	posts.push(new Post("{{ post.title }}", excerpt, "{{ post.url }}"))
  {% endfor %}
</script>

<div class="center-layout" id="search_root">
	<div class="margin-top-64"></div>
	<div id="search_box_outline">
		<label>
			<input id="search_box" maxlength="512" placeholder="검색" type="text" value="">
		</label>
	</div>
	<div>
		<div class="search-result"></div>
	</div>
</div>