---
layout: head
---

<link href="/assets/css/blog.css" rel="stylesheet">
<link href="/assets/css/post.css" rel="stylesheet">
<script type="module" src="/assets/javascripts/post/view/post-view.js"></script>

<div class="post-layout">
	{% include header.html link="/blog" title="이롭: 이로운 기술 블로그" menu=site.data.blog.navigation %}
	<main class="post-main">
		<div id="post-contents">
			<div class="post-article-sidebar-box">
				<article class="post-article">
					<div class="post-header">
						<p class="post-title">{{ page.title }}</p>
						<p class="post-date">{{ page.date | date:"%F" }}</p>
					</div>

					{{ content }}
				</article>
				<aside class="post-sidebar">
					<div id="post-toc"></div>
				</aside>
			</div>
			{% include footer.html hello="이로운 기술 블로그" iconType="blog" %}
		</div>
	</main>
</div>