---
layout: default
---

<div class="post-layout">
<article class="post-article">
    <h1>{{ page.title }}</h1>
    <p>
        {{ page.date | date_to_string }}
        {{ page.author }}

        {% assign category = site.categories | where: 'name', page.categories | first %}
        {% if category %}
        - <a href="{{ category.url }}">{{ category.name }}</a>
        {% else %}
        - {{ category.name }}
        {% endif %}
    </p>

    {{ content }}
</article>
<aside class="post-sidebar">
    <div class="post-toc">
        <ul class="post-toc-list">
            {% assign current_level = '1' %}
            {% assign headings_split = content | split: "<h" %}
            {% for line in headings_split %}
                {% assign start_letter = line | slice: 0, 1 %}
                {% if '0' < start_letter and start_letter <= '3' %}
                    {% assign heading_line = line | split: ">" %}
                    {% assign heading_id = heading_line[0] | split: "id=" | last | remove:'"' | remove:'\' %}
                    {% assign heading_content = heading_line[1] | split: "</" | first %}

                    {% if current_level < start_letter %}
                        {% for i in (current_level..start_letter) %}
                            {% if forloop.last %}
                                {% break %}
                            {% endif %}
                            <ul class="post-toc-list">
                        {% endfor %}
                        {% assign current_level = start_letter %}
                    {% elsif current_level > start_letter %}
                        
                        {% for i in (start_letter..current_level) %}
                            {% if forloop.last %}
                                {% break %}
                            {% endif %}
                            </ul>
                        {% endfor %}
                        {% assign current_level = start_letter %}
                    {% endif %}

                    <li class="post-toc-node">
                        <a class="post-toc-item post-toc-item-h{{ start_letter }}" href="#{{ heading_id }}">
                            {{ heading_content }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if current_level > start_letter %}
                {% for i in (start_letter..current_level) %}
                    {% if forloop.last %}
                        {% break %}
                    {% endif %}
                    </ul>
                {% endfor %}
            {% endif %}
            
        </ul>        
    </div>
</aside>
</div>